* {
    margin: 0;
    padding: 0;
    }


body {
    background-color: aliceblue;
}

#divGameRules {
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 150px;
    padding: 0 60px 20px;
}

#divGameRules h1 {
    margin-top: 0;
    margin-bottom: 20px;

}

#gamecontrol {
    background-color: rgb(18, 47, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 200px;
    padding: 10px 40px;
} 

#gamecontrol h2 {
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 10px;
}

#gamecontrol2 {
    background-color: rgb(18, 47, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 150px;
    padding: 20px 40px;
}

#gamecontrol2 h2 {
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 20px;
}


#game, #score, #actions {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: auto;
    padding: 0px 40px;
}

#game {
    width: 250px;
    height: 250px;
    align-items: center;
    border-radius: 40%;
    padding: 40px 20px 0;
}

#score, #actions, #gamecontainer {
    height: 120px;
    background-color: rgb(18, 47, 75);
    padding: 10px 40px;
}

#gamecontainer {
    height: auto;
}

#score {
    padding-top: 40px;
}

#score h2 {
    color: white;
}

#actions h3 {
    color: aliceblue;
}

@keyframes mymove {
    50% {text-shadow: 3px 2px black;}
}

#actions h2 {
    color: gold;
    animation: mymove 3s infinite;
}

#startgame, #roll, #rollagain, #pass {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: solid black 3px;
    background-color: lightgreen;
}

#rollagain, #pass {
    font-size: 25px;
}

#pass {
    background-color: lightblue;
}


#quit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 80px;
    border-radius: 30%;
    border: solid black 3px;
    background-color: rgb(233, 109, 93);
}

span {
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    color: white;
    text-shadow: 1px black 1px black 1px black 1px black;
}


@media only screen and (min-width: 400px)  {
    #divGameRules {
        
        height: auto;
        padding: 0 60px 20px;
    }

    #game {
        height: 180px;
    }

    #rollagain, #pass, #roll {
        width: 100px;
        height: 100px;
        font-size: 20px;
        padding: 0 20px;
    }
}